In [19]:
# Importar las librer√≠as para trabajar la limpieza de datos
import pandas as pd

In [20]:
# Guardar dataset en un dataframe
df_docentes = pd.read_csv(r'C:\Users\jamtu\Desktop\MD\Padron_docentes.csv', sep=';', encoding='UTF-8')

# Mostrar el dataframe
print('TIPOS DE DATOS')
print('==============')
df_docentes.info()

TIPOS DE DATOS
==============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3256 entries, 0 to 3255
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ITEM                  3256 non-null   int64
 1   CODIGO DOCENTE        3256 non-null   object
 2   APELLIDO PATERNO      3255 non-null   object
 3   APELLIDO MATERNO      3250 non-null   object
 4   NOMBRES               3256 non-null   object
 5   CATEGORIA             3256 non-null   object
 6   TIPO DOC IDENTIDAD    3256 non-null   object
 7   N DOC IDENTIDAD       3256 non-null   object
 8   CORREO INSTITUCIONAL  3256 non-null   object
 9   FACULTAD              3256 non-null   object
dtypes: int64(1), object(9)
memory usage: 254.5+ KB

In [21]:
# Convertir los tipos de datos
df_docentes['CODIGO DOCENTE'] = df_docentes['CODIGO DOCENTE'].astype(str)
df_docentes['APELLIDO PATERNO'] = df_docentes['APELLIDO PATERNO'].astype(str)
df_docentes['APELLIDO MATERNO'] = df_docentes['APELLIDO MATERNO'].astype(str)
df_docentes['NOMBRES'] = df_docentes['NOMBRES'].astype(str)
df_docentes['CATEGORIA'] = df_docentes['CATEGORIA'].astype(str)
df_docentes['TIPO DOC IDENTIDAD'] = df_docentes['TIPO DOC IDENTIDAD'].astype(str)
df_docentes['N DOC IDENTIDAD'] = df_docentes['N DOC IDENTIDAD'].astype(str)
df_docentes['CORREO INSTITUCIONAL'] = df_docentes['CORREO INSTITUCIONAL'].astype(str)
df_docentes['FACULTAD'] = df_docentes['FACULTAD'].astype(str)

# Mostrar los tipos de datos
print('TIPOS DE DATOS')
print('==============')
for col in df_docentes.columns:
    print(f'{col}: {df_docentes[col].apply(type).unique()}')

TIPOS DE DATOS
==============
ITEM: [<class 'int'>]
CODIGO DOCENTE: [<class 'str'>]
APELLIDO PATERNO: [<class 'str'>]
APELLIDO MATERNO: [<class 'str'>]
NOMBRES: [<class 'str'>]
CATEGORIA: [<class 'str'>]
TIPO DOC IDENTIDAD: [<class 'str'>]
N DOC IDENTIDAD: [<class 'str'>]
CORREO INSTITUCIONAL: [<class 'str'>]
FACULTAD: [<class 'str'>]

In [22]:
# Mostrar el dataframe
df_docentes.head(5)

,ITEM,CODIGO DOCENTE,APELLIDO PATERNO,APELLIDO MATERNO,NOMBRES,CATEGORIA,TIPO DOC IDENTIDAD,N DOC IDENTIDAD,CORREO INSTITUCIONAL,FACULTAD
0,1,0A1018,AGUERO,DEL CARPIO,LIZARDO ELIAS,Asociado T. Completo,DNI,7971397,laguerod@unmsm.edu.pe,Ciencias administrativas
1,2,0A7296,AGUIRRE,CASTRO,CARMEN JUDITH,Auxiliar TP. 10hrs.,DNI,23917134,caguirreca@unmsm.edu.pe,Ciencias administrativas
2,3,0A0034,ANDRADES,SOSA,JOSE IGNACIO,Asociado T. Completo,DNI,25450694,jandrades@unmsm.edu.pe,Ciencias administrativas
3,4,004898,ARIAS,MERCADO,LUIS ALBERTO,Asociado T. Completo,DNI,6056404,lariasm@unmsm.edu.pe,Ciencias administrativas
4,5,005452,ASPILCUETA,ASPILCUETA,SIMON RICARDO,Asociado T. Completo,DNI,10720986,raspilcuetaa@unmsm.edu.pe,Ciencias administrativas

In [23]:
# Convertir a formato capitalizable los valores de las columnas "APELLIDO PATERNO", "APELLIDO MATERNO"
# y "NOMBRES"
df_docentes['APELLIDO PATERNO'] = df_docentes['APELLIDO PATERNO'].str.title()
df_docentes['APELLIDO MATERNO'] = df_docentes['APELLIDO MATERNO'].str.title()
df_docentes['NOMBRES'] = df_docentes['NOMBRES'].str.title()

# Mostrar el dataframe
df_docentes.head(5)

,ITEM,CODIGO DOCENTE,APELLIDO PATERNO,APELLIDO MATERNO,NOMBRES,CATEGORIA,TIPO DOC IDENTIDAD,N DOC IDENTIDAD,CORREO INSTITUCIONAL,FACULTAD
0,1,0A1018,Aguero,Del Carpio,Lizardo Elias,Asociado T. Completo,DNI,7971397,laguerod@unmsm.edu.pe,Ciencias administrativas
1,2,0A7296,Aguirre,Castro,Carmen Judith,Auxiliar TP. 10hrs.,DNI,23917134,caguirreca@unmsm.edu.pe,Ciencias administrativas
2,3,0A0034,Andrades,Sosa,Jose Ignacio,Asociado T. Completo,DNI,25450694,jandrades@unmsm.edu.pe,Ciencias administrativas
3,4,004898,Arias,Mercado,Luis Alberto,Asociado T. Completo,DNI,6056404,lariasm@unmsm.edu.pe,Ciencias administrativas
4,5,005452,Aspilcueta,Aspilcueta,Simon Ricardo,Asociado T. Completo,DNI,10720986,raspilcuetaa@unmsm.edu.pe,Ciencias administrativas

In [24]:
# Contabilizar los campos vac√≠os dentro de cada columna del dataset
print(f"El dataset tiene {df_docentes.isnull().sum().sum()} campos vac√≠os.")

El dataset tiene 0 campos vac√≠os.

In [25]:
# Identificar si hay celdas vac√≠as en el dataframe
print('CAMPOS VAC√çOS')
print('============')
print(df_docentes.isnull().sum())

CAMPOS VAC√çOS
============
ITEM                    0
CODIGO DOCENTE          0
APELLIDO PATERNO        0
APELLIDO MATERNO        0
NOMBRES                 0
CATEGORIA               0
TIPO DOC IDENTIDAD      0
N DOC IDENTIDAD         0
CORREO INSTITUCIONAL    0
FACULTAD                0
dtype: int64

In [26]:
# Mostrar valores √∫nicos de la columna "CATEGORIA" en una lista
print('VALORES √öNICOS')
print('============')
print(df_docentes['CATEGORIA'].unique())

VALORES √öNICOS
============
['Asociado T. Completo ' 'Auxiliar TP. 10hrs. ' 'Auxiliar T. Completo '
 'Principal T. Completo' 'Principal TP. 20hrs. ' 'Auxiliar TP. 20hrs. '
 'Asociado D . E xclusiva. ' 'Asociado TP. 20hrs. '
 'Principal D . E xclusiva' 'Auxiliar TP. 04hrs. ' 'Principal TP. 16hrs. '
 'Auxiliar D. Exclusiva ' 'E Auxiliar TP. 20hrs. '
 'Principal T. Completo ' 'Principal ' 'Principal TP. 10hrs. '
 'Asociado TP. 10hrs. ' 'Auxiliar TP. 15hrs. ' 'Auxiliar TP. 20hrs.'
 'Auxiliar D. Exclusiva' 'Asociado TP. 20hrs.' 'Auxiliar T. Completo'
 'Asociado T. Completo' 'Asociado D . E xclusiva.' 'Principal TP. 20hrs.'
 'Auxiliar TP. 10hrs.' 'Asociado TP. 06hrs. ' 'Asociado TP. 08hrs. '
 'Auxiliar TP. 06hrs. ' 'Principal TP. 08hrs. ' 'Principal TP. 06hrs. '
 'Asociado TP. 16hrs. ' 'Auxiliar TP. 08hrs. ' 'Asociado TP. 11hrs. '
 'Asociado TP. 10hrs.' 'Auxiliar TP. 08hrs.' 'Auxiliar TP. 20hrs.  '
 'Asociado D . E xclusiva.  ' 'Asociado T. Completo  '
 'Principal TP. 20hrs.  ' 'Asociado TP. 20hrs.  '
 'Principal T. Completo  ' 'Principal D . E xclusiva '
 'Auxiliar T. Completo  ' 'Asociado TP. 15hrs.  ' 'Auxiliar TP. 13hrs.  '
 'Auxiliar D. Exclusiva  ' 'Principal  ' ' Auxiliar T. Completo '
 ' Asociado T. Completo ' ' Principal T. Completo '
 ' Asociado D . E xclusiva. ' ' Auxiliar TP. 20hrs. '
 ' Asociado TP. 20hrs. ' ' Principal TP. 20hrs. ' ' Asociado TP. 10hrs. '
 ' Auxiliar TP. 10hrs. ' ' Auxiliar D. Exclusiva '
 ' Principal D . E xclusiva' ' Auxiliar TP. 04hrs. '
 'Asociado TP. 10hrs.  ' 'Auxiliar TP. 16hrs. ' 'Asociado TP. 15hrs. '
 'Asociado TP. 18hrs. ' 'SAsociado TP. 20hrs. ' 'Auxiliar TP. 14hrs. '
 'Auxiliar ']

In [27]:
# Quitar el espacio en blanco al inicio y al final de los valores de la columna "CATEGORIA"
df_docentes['CATEGORIA'] = df_docentes['CATEGORIA'].str.strip()

# Mostrar los valores √∫nicos de la columna "CATEGORIA" en una lista
print('VALORES √öNICOS')
print('============')
print(df_docentes['CATEGORIA'].unique())

VALORES √öNICOS
============
['Asociado T. Completo' 'Auxiliar TP. 10hrs.' 'Auxiliar T. Completo'
 'Principal T. Completo' 'Principal TP. 20hrs.' 'Auxiliar TP. 20hrs.'
 'Asociado D . E xclusiva.' 'Asociado TP. 20hrs.'
 'Principal D . E xclusiva' 'Auxiliar TP. 04hrs.' 'Principal TP. 16hrs.'
 'Auxiliar D. Exclusiva' 'E Auxiliar TP. 20hrs.' 'Principal'
 'Principal TP. 10hrs.' 'Asociado TP. 10hrs.' 'Auxiliar TP. 15hrs.'
 'Asociado TP. 06hrs.' 'Asociado TP. 08hrs.' 'Auxiliar TP. 06hrs.'
 'Principal TP. 08hrs.' 'Principal TP. 06hrs.' 'Asociado TP. 16hrs.'
 'Auxiliar TP. 08hrs.' 'Asociado TP. 11hrs.' 'Asociado TP. 15hrs.'
 'Auxiliar TP. 13hrs.' 'Auxiliar TP. 16hrs.' 'Asociado TP. 18hrs.'
 'SAsociado TP. 20hrs.' 'Auxiliar TP. 14hrs.' 'Auxiliar']

In [28]:
# Separar la columna "CATEGORIA" en dos columnas: "TIPO TRABAJADOR" y "MODALIDAD", tomando 
# como separador al primer espacio en blanco y eliminando el espacio en blanco al inicio y al 
# final de los valores de las nuevas columnas
df_docentes[['TIPO TRABAJADOR', 'MODALIDAD']] = df_docentes['CATEGORIA'].str.split(' ', n=1, expand=True)
df_docentes['TIPO TRABAJADOR'] = df_docentes['TIPO TRABAJADOR'].str.strip()
df_docentes['MODALIDAD'] = df_docentes['MODALIDAD'].str.strip()

# Mostrar los valores √∫nicos de la columna "TIPO TRABAJADOR" en una lista
print('VALORES √öNICOS DE TIPO TRABAJADOR')
print('============')
print(df_docentes['TIPO TRABAJADOR'].unique())

# Mostrar los valores √∫nicos de la columna "MODALIDAD" en una lista
print('VALORES √öNICOS DE MODALIDAD')
print('============')
print(df_docentes['MODALIDAD'].unique())

VALORES √öNICOS DE TIPO TRABAJADOR
============
['Asociado' 'Auxiliar' 'Principal' 'E' 'SAsociado']
VALORES √öNICOS DE MODALIDAD
============
['T. Completo' 'TP. 10hrs.' 'TP. 20hrs.' 'D . E xclusiva.'
 'D . E xclusiva' 'TP. 04hrs.' 'TP. 16hrs.' 'D. Exclusiva'
 'Auxiliar TP. 20hrs.' None 'TP. 15hrs.' 'TP. 06hrs.' 'TP. 08hrs.'
 'TP. 11hrs.' 'TP. 13hrs.' 'TP. 18hrs.' 'TP. 14hrs.']

In [29]:
# Modificar los valores de la columna "TIPO TRABAJADOR" que sean iguales a "E" por "Auxiliar"
df_docentes.loc[df_docentes['TIPO TRABAJADOR'] == 'E', 'TIPO TRABAJADOR'] = 'Auxiliar'

# Modificar los valores de la columna "MODALIDAD" que sean iguales a "Auxiliar TP. 20hrs." 
# por "TP. 20hrs."
df_docentes.loc[df_docentes['MODALIDAD'] == 'Auxiliar TP. 20hrs.', 'MODALIDAD'] = 'TP. 20hrs.'

# Modificar los valores de la columna "TIPO TRABAJADOR" que sean iguales a "E" por "Auxiliar"
df_docentes.loc[df_docentes['TIPO TRABAJADOR'] == 'SAsociado', 'TIPO TRABAJADOR'] = 'Asociado'

# Mostrar los valores √∫nicos de la columna "TIPO TRABAJADOR" en una lista
print('VALORES √öNICOS DE TIPO TRABAJADOR')
print('============')
print(df_docentes['TIPO TRABAJADOR'].unique())

# Mostrar los valores √∫nicos de la columna "MODALIDAD" en una lista
print('\nVALORES √öNICOS DE MODALIDAD')
print('============')
print(df_docentes['MODALIDAD'].unique())

VALORES √öNICOS DE TIPO TRABAJADOR
============
['Asociado' 'Auxiliar' 'Principal']

VALORES √öNICOS DE MODALIDAD
============
['T. Completo' 'TP. 10hrs.' 'TP. 20hrs.' 'D . E xclusiva.'
 'D . E xclusiva' 'TP. 04hrs.' 'TP. 16hrs.' 'D. Exclusiva' None
 'TP. 15hrs.' 'TP. 06hrs.' 'TP. 08hrs.' 'TP. 11hrs.' 'TP. 13hrs.'
 'TP. 18hrs.' 'TP. 14hrs.']

In [30]:
# Mostrar las filas que tenga valor None en la columna "MODALIDAD"
print('FILAS CON VALOR NONE EN MODALIDAD')
print('=================================')
df_docentes[df_docentes['MODALIDAD'].isnull()]

FILAS CON VALOR NONE EN MODALIDAD
=================================

,ITEM,CODIGO DOCENTE,APELLIDO PATERNO,APELLIDO MATERNO,NOMBRES,CATEGORIA,TIPO DOC IDENTIDAD,N DOC IDENTIDAD,CORREO INSTITUCIONAL,FACULTAD,TIPO TRABAJADOR,MODALIDAD
385,386,057142,Ramon,Ruffner De Vega,Jeri Gloria,Principal,DNI,6245729,jramonr@unmsm.edu.pe,Ciencias contables,Principal,None
1503,1504,010146,Cabrera,Carranza,Carlos Francisco,Principal,DNI,17402784,ccabrerac@unmsm.edu.pe,"Ingenier√≠a geol√≥gica, minera, metal√∫rgica y ge...",Principal,None
2480,2481,08548E,Ni√±o,Montero,Jose Segundo,Principal,DNI,25830033,jninom@unmsm.edu.pe,Medicina,Principal,None
2963,2964,0A06353,Braul,Moreno,Edgardo Andre,Auxiliar,DNI,70935119,edgardoandrebraul9@gmail.com,Psicolog√≠a,Auxiliar,None
2979,2980,0A06354,Escalante,Abanto,Casimiro,Auxiliar,DNI,10583025,cescalantea@unmsm.edu.pe,Psicolog√≠a,Auxiliar,None
2992,2993,0A06355,Jochatoma,Roque,Carlos Alberto,Auxiliar,DNI,45245702,carlos_arqueologo@yahoo.com,Psicolog√≠a,Auxiliar,None
2996,2997,0A06356,Lozada,Miranda,Mar√≠a Anseli,Auxiliar,DNI,6274169,anseli35@hotmail.com,Psicolog√≠a,Auxiliar,None
3043,3044,0A06357,Vargas,Giles,Julia Hortencia,Auxiliar,DNI,7608450,juliavargasgiles1@gmail.com,Psicolog√≠a,Auxiliar,None

In [31]:
# Modificar el valor None de la columna "MODALIDAD" por "No especificado"
df_docentes['MODALIDAD'].fillna('No especificado', inplace=True)

# Mostrar las filas actualizadas que tengan el valor "No especificado" en la columna "MODALIDAD"
print('FILAS CON VALOR "NO ESPECIFICADO" EN MODALIDAD')
print('==============================================')
df_docentes[df_docentes['MODALIDAD'] == 'No especificado']

FILAS CON VALOR "NO ESPECIFICADO" EN MODALIDAD
==============================================

C:\Users\jamtu\AppData\Local\Temp\ipykernel_4876\2244375154.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_docentes['MODALIDAD'].fillna('No especificado', inplace=True)

,ITEM,CODIGO DOCENTE,APELLIDO PATERNO,APELLIDO MATERNO,NOMBRES,CATEGORIA,TIPO DOC IDENTIDAD,N DOC IDENTIDAD,CORREO INSTITUCIONAL,FACULTAD,TIPO TRABAJADOR,MODALIDAD
385,386,057142,Ramon,Ruffner De Vega,Jeri Gloria,Principal,DNI,6245729,jramonr@unmsm.edu.pe,Ciencias contables,Principal,No especificado
1503,1504,010146,Cabrera,Carranza,Carlos Francisco,Principal,DNI,17402784,ccabrerac@unmsm.edu.pe,"Ingenier√≠a geol√≥gica, minera, metal√∫rgica y ge...",Principal,No especificado
2480,2481,08548E,Ni√±o,Montero,Jose Segundo,Principal,DNI,25830033,jninom@unmsm.edu.pe,Medicina,Principal,No especificado
2963,2964,0A06353,Braul,Moreno,Edgardo Andre,Auxiliar,DNI,70935119,edgardoandrebraul9@gmail.com,Psicolog√≠a,Auxiliar,No especificado
2979,2980,0A06354,Escalante,Abanto,Casimiro,Auxiliar,DNI,10583025,cescalantea@unmsm.edu.pe,Psicolog√≠a,Auxiliar,No especificado
2992,2993,0A06355,Jochatoma,Roque,Carlos Alberto,Auxiliar,DNI,45245702,carlos_arqueologo@yahoo.com,Psicolog√≠a,Auxiliar,No especificado
2996,2997,0A06356,Lozada,Miranda,Mar√≠a Anseli,Auxiliar,DNI,6274169,anseli35@hotmail.com,Psicolog√≠a,Auxiliar,No especificado
3043,3044,0A06357,Vargas,Giles,Julia Hortencia,Auxiliar,DNI,7608450,juliavargasgiles1@gmail.com,Psicolog√≠a,Auxiliar,No especificado

In [32]:
# Eliminar la columna "CATEGORIA" del dataframe
df_docentes.drop(columns=['CATEGORIA'], inplace=True)

# Mostrar el dataframe
print('DATAFRAME ACTUALIZADO')
print('===================')
df_docentes.head(5)

DATAFRAME ACTUALIZADO
===================

,ITEM,CODIGO DOCENTE,APELLIDO PATERNO,APELLIDO MATERNO,NOMBRES,TIPO DOC IDENTIDAD,N DOC IDENTIDAD,CORREO INSTITUCIONAL,FACULTAD,TIPO TRABAJADOR,MODALIDAD
0,1,0A1018,Aguero,Del Carpio,Lizardo Elias,DNI,7971397,laguerod@unmsm.edu.pe,Ciencias administrativas,Asociado,T. Completo
1,2,0A7296,Aguirre,Castro,Carmen Judith,DNI,23917134,caguirreca@unmsm.edu.pe,Ciencias administrativas,Auxiliar,TP. 10hrs.
2,3,0A0034,Andrades,Sosa,Jose Ignacio,DNI,25450694,jandrades@unmsm.edu.pe,Ciencias administrativas,Asociado,T. Completo
3,4,004898,Arias,Mercado,Luis Alberto,DNI,6056404,lariasm@unmsm.edu.pe,Ciencias administrativas,Asociado,T. Completo
4,5,005452,Aspilcueta,Aspilcueta,Simon Ricardo,DNI,10720986,raspilcuetaa@unmsm.edu.pe,Ciencias administrativas,Asociado,T. Completo

In [33]:
#Identificar las filas donde TIPO DOC IDENTIDAD = DNI y N DOC IDENTIDAD < 8
df_docentes[df_docentes['TIPO DOC IDENTIDAD'] == 'DNI'].loc[df_docentes['N DOC IDENTIDAD'].str.len() < 8]
#Eliminar las filas donde TIPO DOC IDENTIDAD = DNI y N DOC IDENTIDAD <> 8
df_docentes.drop(df_docentes[(df_docentes['TIPO DOC IDENTIDAD'] == 'DNI') & (df_docentes['N DOC IDENTIDAD'].str.len() != 8)].index, inplace=True)
#Mostrar el dataframe actualizado
df_docentes

,ITEM,CODIGO DOCENTE,APELLIDO PATERNO,APELLIDO MATERNO,NOMBRES,TIPO DOC IDENTIDAD,N DOC IDENTIDAD,CORREO INSTITUCIONAL,FACULTAD,TIPO TRABAJADOR,MODALIDAD
1,2,0A7296,Aguirre,Castro,Carmen Judith,DNI,23917134,caguirreca@unmsm.edu.pe,Ciencias administrativas,Auxiliar,TP. 10hrs.
2,3,0A0034,Andrades,Sosa,Jose Ignacio,DNI,25450694,jandrades@unmsm.edu.pe,Ciencias administrativas,Asociado,T. Completo
4,5,005452,Aspilcueta,Aspilcueta,Simon Ricardo,DNI,10720986,raspilcuetaa@unmsm.edu.pe,Ciencias administrativas,Asociado,T. Completo
9,10,0A7299,Bazan,Tanchiva,Jose Antonio,DNI,16720503,jbazant@unmsm.edu.pe,Ciencias administrativas,Auxiliar,TP. 10hrs.
17,18,0A7495,Cardenas,Vanini,Rafael,DNI,18087101,rcardenasva@unmsm.edu.pe,Ciencias administrativas,Auxiliar,TP. 20hrs.
...,...,...,...,...,...,...,...,...,...,...,...
3249,3250,0A4072,Urviola,Garcia,Adriana Pilar,DNI,45999673,aurviolag@unmsm.edu.pe,Veterinaria,Auxiliar,T. Completo
3250,3251,0A9066,Valera,Andrade,Adhemir Ayrton,DNI,46129107,avaleraa@unmsm.edu.pe,Veterinaria,Auxiliar,D. Exclusiva
3251,3252,0A7605,Vargas,Calla,Ana Miluska,DNI,45705704,avargasca@unmsm.edu.pe,Veterinaria,Auxiliar,T. Completo
3253,3254,0A1879,Velez,Marroquin,Victor Manuel,DNI,29633416,vvelezm@unmsm.edu.pe,Veterinaria,Auxiliar,T. Completo
3255,3256,0A1980,Yamada,Abe,Graciela Ines,DNI,15749842,gyamadaa_af@unmsm.edu.pe,Veterinaria,Asociado,D . E xclusiva.

In [34]:
# Mostrar los registros que tengan TIPO DOC IDENTIDAD = DNI y N DOC IDENTIDAD <> 8
print('FILAS CON VALORES INCORRECTOS EN N DOC IDENTIDAD')
print('==============================================')
df_docentes[df_docentes['TIPO DOC IDENTIDAD'] == 'DNI'].loc[df_docentes['N DOC IDENTIDAD'].str.len() != 8]

FILAS CON VALORES INCORRECTOS EN N DOC IDENTIDAD
==============================================

Empty DataFrame
Columns: [ITEM, CODIGO DOCENTE, APELLIDO PATERNO, APELLIDO MATERNO, NOMBRES, TIPO DOC IDENTIDAD, N DOC IDENTIDAD, CORREO INSTITUCIONAL, FACULTAD, TIPO TRABAJADOR, MODALIDAD]
Index: []

In [35]:
# Exportar el dataframe a un archivo CSV
df_docentes.to_csv('Padron_docentes_normalizado.csv', sep=';', index=False, encoding='UTF-8')